body {
    background-color:white;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    color: navy;
}


h1 {
     font-size: 1.5em;    
     color:#f6e3ce;
     background-color: teal;
     margin: 20px;
     padding: 40px;
}

h3 {
     font-size: 1em;    
     color:teal;

    
}


a {
    text-decoration: uderline;
    color: #29088a;
}

